:root {
  --page-background-color: #f5f5f5;
  --section-background-color: #eaf2fd;
  --link-color: #000;
  --white-color: #ffffff;
  --icon-size: 2rem;
  --ligth-blue-color: #2a7ae4;
}

body {
  box-sizing: border-box;
  background-color: var(--page-background-color);
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
}

/*Font Family*/
button,
input,
textarea {
  font-family: inherit;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

/***Iconos***/
i {
  color: var(--ligth-blue-color);
}

/***h3***/
h3 {
  font-weight: 300;
}

/* MENU */
.menu {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

/* Name and icon */
.menu__header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Icono */
.menu__header_icon {
  font-size: 1rem;
}

/* Nombre */
.menu__title {
  font-size: 0.9rem;
}

/*navbar items*/
.menu__list__item {
  display: none;
}

.menu__list__item.contact {
  display: inline;
  font-size: 0.9rem;
}

/* Sección Profile Photo/Bio/Links */
section.title {
  padding: 1rem;
}
.title__photo {
  width: 6.125rem;
  height: 6.125rem;
}
.title__bio {
  font-size: 1.375rem;
}
.title__subsection {
  font-size: 0.8rem;
  color: #464646;
}
.title__network {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.title__network__item {
  font-size: var(--icon-size);
}

/* Sección About */
section.about {
  padding: 1rem;
}
.about__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.about__title {
  font-weight: bold;
}
.about__signature {
  width: 8.75rem;
  height: 4rem;
}

/********Seccíon de Skills y Sección de hobbies*******/
.skills,
.hobbies {
  padding: 1rem;
}

.skills__title,
.hobbies__title {
  font-weight: bold;
  text-align: center;
}

.skills__line,
.hobbies__line {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
  gap: 1rem;
}

.skills__box,
.hobbies__box {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 8px;
  height: 8rem;
  border-radius: 12px;
}

.skills__name,
.hobbies__name {
  margin-top: 0.5rem;
}

.skills__icon,
.hobbies__icon {
  font-size: var(--icon-size);
}

/* Experiencia Académica */
section.academic {
  padding: 1rem;
}

.academic__title {
  text-align: center;
}

.academic__courses {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.academic__courses__list {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.academic__courses__box {
  overflow: hidden;
  padding: 15px;
  background-color: var(--white-color);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 8px;
}
.academic__courses__box {
  flex: 1;
}
.academic__courses__item__img {
  background-color: var(--white-color);
  display: block;
  margin: 0 auto;
  height: 9.5rem;
}

/* experiencia */
section.experience {
  padding: 1rem;
}

.experience__section__title {
  text-align: center;
}

.experience__box {
  background-color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 8px;
  padding: 10px 10px;
  overflow: hidden;
  border-radius: 12px;
  text-align: center;
}

.experience__img {
  width: 90%;
  height: 12rem;
}
.experience__title {
  font-size: 1rem;
}
.experience__text {
  font-size: 0.8rem;
}
.experience__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.experience__repo__btn,
.experience__demo__btn {
  padding: 0.5rem;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  border: 0.06rem solid var(--ligth-blue-color);
}

.experience__repo__btn {
  color: var(--ligth-blue-color);
}

.experience__demo__btn {
  color: var(--white-color);
  background-color: var(--ligth-blue-color);
}

/* FOOTER */
section.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.footer__container p {
  margin: 0.1rem;
  padding: 0;
  text-align: center;
}
